In [2]:
from sklearn.model_selection import train_test_split
import pandas as pd

# Create train.csv and valid.csv

In [4]:
df = pd.read_csv("../data/raw/lenta_10k_3_classes.csv")

In [5]:
df.head()

   Unnamed: 0                                               text      topic
0         630  С 1 января 2000 года все телеканалы будут опла...  Экономика
1         635  Германский автопромышленный концерн Volkswagen...  Экономика
2         636  Нераспределенная прибыль ОАО "Тюменнефтегаз", ...  Экономика
3         660  Две крупнейших телекоммуникационных компании С...  Экономика
4         661  ОАО "ГАЗ" и Нижегородский банк Сбербанка Росси...  Экономика

In [6]:
X_train, X_test, y_train, y_test = train_test_split(df.text, df.topic, test_size=0.2, random_state=42)

In [8]:
type(X_train)

pandas.core.series.Series

In [17]:
train = pd.DataFrame({'text': X_train, 'label': y_train}).reset_index(drop=True)
test = pd.DataFrame({'text': X_test, 'label': y_test}).reset_index(drop=True)

In [18]:
train

                                                   text      label
0     Один из самых многоликих актеров Голливуда, 59...   Культура
1     Губернатор Орловской области Егор Строев и инв...  Экономика
2     После матчей 12-го тура чемпионата России по ф...      Спорт
3     В Политехническом музее Москвы открылась выста...   Культура
4     Московский арбитражный суд 9 июля может начать...  Экономика
...                                                 ...        ...
7995  При обесценивании рубля по итогам первого квар...  Экономика
7996  В Москве во второй раз  отмечается учрежденный...   Культура
7997  В ночь с понедельника на вторник за океаном со...      Спорт
7998  Российский министр по налогам и сборам Алексан...  Экономика
7999  Министерство по антимонопольной политике призн...  Экономика

[8000 rows x 2 columns]

In [20]:
test

                                                   text      label
0     Шведская промышленная группа OM, являющаяся вл...  Экономика
1     Представители ультраортодоксального движения "...   Культура
2     Повышение курса рубля нежелательно, России сле...  Экономика
3     Вайнона Райдер ("Чужой 4: Воскрешение") сыграе...   Культура
4     Тверской межмуниципальный суд Москвы отказался...  Экономика
...                                                 ...        ...
1995  Проблем с покупкой спиртного в Москве не будет...  Экономика
1996  Кинокомпания West video выпускает на видео наш...   Культура
1997  Финансовый резерв на 2003 год, на который прих...  Экономика
1998  В очередном матче регулярного чемпионата НХЛ ф...      Спорт
1999  Шотландский актер Ивэн Макгрегор (Ewan McGrego...   Культура

[2000 rows x 2 columns]

In [27]:
train.to_csv('../data/raw/train.csv', index=False)
test.to_csv('../data/raw/test.csv', index=False)